* {
    transition: all .1s ease-in;
    margin: 0 auto;
}
html:before {
    content:"";
    position:fixed;
    z-index: -1;
    top:0;
    left:0;
    right:0;
    bottom:0;
    border:6px solid white;
}

body {
    font-family: “Trebuchet MS”, Trebuchet, Arial, sans-serif;
    background-color: #3b3f45;
}

.main-header {
    display: block;
    width: 40%;
    margin-top: 1%;
    padding: 2px;
    color: #eb7e7f;
    background-color: #4a4f56;
    text-align: center;
}


.shopping-list {
    margin-top: 25px;
    width: 40%;
    color: white;
    padding: 0;
}

.list-item {
    background-color: #848498;
    list-style-type: none;
    padding: 15px;
}

.list-item:nth-child(2n) {
    background-color: #7a7593;
}

.list-item:hover {
    background-color: #5e6172;
    border-bottom: 3px solid white;
    border-top: 3px solid white;
    cursor: pointer;
}

.list-item:active {
    background-color: #eb7e7f;
    text-decoration: line-through;
}

input:checked + span {
    text-decoration: line-through;
    color: lightgray;
}

.brackets {
    font-size: small;
}
.brackets:before {
    content: "(";
}

.brackets:after {
    content: ")";
}

.bon-appetit {
    display: block;
    text-align: center;
    font-size: 25px;
    width: 40%;
    margin-top: 25px;
    color: #eb7e7f;
    background-color: #4a4f56;
}


